<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="/default_inserts/totalrecall_icon.png">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <%- include('../partials/navbar.ejs') %>

        <div class="sign-up-container">
            <h2 style="margin-bottom: 0px;">Create Your Account!</h2>
            <sub>Fill in the fields below.</sub>
            <form action="/auth/edit-acc" method="POST">
                
                <label for="displayname">Display Name:</label>
                <input type="text" name="displayname" id="displayname" maxlength="20"/>

                <label for="username">Username:</label>
                <input type="text" name="username" id="username" />


                <label for="password">Please Retype your Password to continue:</label>
                <input type="password" name="password" id="password" />
                
                <button type="submit">Apply Changes</button>
            </form>
        </div>
    </main>
</body>
</html>