<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotalRecall Forums</title>
</head>
<body>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <h1>Forum Topics</h1>
        <ul>
            <%= typeof(topics) %>
        </ul>
    </main>
</body>
</html>