


<div class="user-tag-box">
    <a class="user-avatar <% if(profile._id == user._id) { %>signed-in<% } %>"
        href="/total-recall/users/<%=profile.displayname%>">
        <img src=
        '
        <% if(profile.linkedavatar !== "") { %>
            <%= profile.linkedavatar %>
        <% } else { %>
            /default_inserts/default_pfp.png
        <% } %>
        '>
    </a>
    
    <div class="topic-etoc">
        <h5>
            <%= comment.author.displayname %>
        </h5>
    </div>
</div>


