<link rel="stylesheet" href="/css/partials.css">
<nav>
    <div class="navbar">
        <h4 id="nav-header">TotalRecall forums</h4>
        <div class="nav-links">
            <a href="/topics">Topics</a>
            <% if(user) { %>
                <a class="authlink" href="/users/<%=user._id%>/profile">
                    Your Profile
                </a>
                <a class="authlink" href="/auth/sign-out">
                    Sign Out
                </a>
            <% } else { %>
                <a class="authlink" href="/auth/sign-up">
                    Sign Up
                </a>
                <a class="authlink" href="/auth/sign-in">
                    Sign In
                </a>
            <% } %>
        </div>
    </div>
</nav>