<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <title>TotalRecall Forums</title>
    </head>
    <body class="index-body">
        <main>
            <%- include('./partials/navbar.ejs') %>
            <h1>TotalRecall Forums</h1>
            <p>A place to discuss Everything</p>
        </main>
    </body>
</html>