nav {

    background-color: steelblue;


    justify-self: center;
    width: calc(100% - 16px);
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 8px;

    h2 {
        position: relative;
        color: rgba(0,0,0,0);
        margin: 10px 6px;
        font-size: 200%;

        span {
            left: 0;
            position: absolute;
            color: rgb(255, 140, 0);
            z-index: 2;
        }

        .shadow {
            -webkit-text-stroke: 3px white;
            z-index: 0;
        }

    }
    

    .nav-links {
        border: 2px outset black;
        padding: 2px;
        border-top: 0px outset black;
        padding-left: 0;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.authlink {
    background-color: rgb(119, 154, 185);
    display: flex;
    justify-content: center;
    width: 50%;
    height: 18px;
    text-align: center;
    margin-left: 2px;
    border: 2px outset rgb(137, 175, 209);
    text-decoration: none;
    padding: 2px 0;
    user-select: none;
    

    color: darkblue;
    font-weight: bold;
    
    details {
        cursor: default;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 70px 0;
        width: 100%;
        height: fit-content;

        summary {
            cursor: pointer;
            color: darkblue;
            font-weight: bold;
        }
        summary:hover {
            color: blue;
        }
        a {
            border: 0px;
            padding: 2px;
            margin: 2px 6px;
            height: 18px;
            width: 90%;
        }
        a:hover {
            background-color: rgba(209, 240, 255, 0.375);
        }
    }
    details[open] {
        z-index: 9;
        summary, div {
            width: 120px;
            background-color: rgba(92, 109, 124, 0.75);
            color: darkblue;
        }
        summary {
            color: blue;
            margin-top: -1px;
            border: 1px solid black;
            border-bottom: 0;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            border-top: 0;
            padding: 2px 0;

            a {
                text-align: center;
                position: relative;
                color: inherit;
                text-decoration: none;
                p {
                    width: 100%;
                    margin: 0;
                    transform: translate(-50%,-50%);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
                .shadow {
                    -webkit-text-stroke: 2px skyblue;
                }
            }
            a:hover {
                color: blue;
                text-decoration: none;
                .shadow {
                    -webkit-text-stroke: 2px lightblue;
                }
            }
        }
    }
    

}



.authlink:hover {
    color: blue;
    background-color: rgb(138, 175, 207);
    border: 2px outset rgb(195, 220, 243);
}

.top-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    border: 2px outset black;
    border-bottom: 0px outset black;
}
#user-status {
    aspect-ratio: 198 / 48;
    background-color: lightblue;
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.user-avatar {
    aspect-ratio: 1;
    border: 3px solid royalblue;
    border-radius: 50%;
    height: 24px;
    margin-left: 2px;
    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}

.signed-out {
    border-color: brown;
}


.signed-in {
    border-color: aqua;
}

.admin-signed-in {
    border-width: 2px;
    border-color: darkorange;
    background-color: white;
    padding: 1px;
    margin-right: 1px;
    outline: 1px solid white;
}


#user-status-actual {
    aspect-ratio: 7 / 2;
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    padding: 2px;
    border: 2px inset lightcyan;
    background-color: lightblue;
    align-self: center;
    height: calc(100% - 8px);
    span {
        position: absolute;
        left: 2%;
        top: 4%;
        font-size: 14px;
        color: slategray;
        font-weight: bold;
    }
    .main-username {
        left: 98%;
        top: 96%;
        transform: translate(-100%,-100%);
        text-align: right;
        color: black;
    }
}

@media screen and (min-width: 550px) {
    .mobile-user-icon {
        display: none;
    }
}

@media screen and (max-width: 550px) and (min-width: 425px) {

    nav {

        width: calc(100% - 8px);
        margin: 4px;

        h2 {
            margin: 6px 4px;
            font-size: 180%;
        }
    }

    .mobile-user-icon {
        border: 2px solid black;
        background-color: lightblue;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        aspect-ratio: 15 / 4;
        font-size: 12.5px;
        font-weight: bold;
        height: 34px;
        width: fit-content;
        margin: 2px;
        padding: 2px;
    }

    .main-username {
        height: fit-content;
    }

    .user-avatar {
        aspect-ratio: 1;
        border-width: 2px;
    }

    #user-status {
        display: none;
        min-width: 160px;
        height: 36px;

    }
}

@media screen and (max-width: 424px) {
    
    nav {

        width: calc(100% - 8px);
        margin: 4px;

        h2 {
            margin: 4px 2px;
            font-size: 116%;
        }
    }

    .mobile-user-icon {
        border: 2px solid black;
        background-color: lightblue;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        aspect-ratio: 9 / 2;
        font-size: 11.5px;
        font-weight: bold;
        height: 26px;
        width: fit-content;
        margin: 2px;
        padding: 2px;
    }

    .authlink {
        font-size: 12px;
        height: 14px;
    }

    #user-status {
        display: none;
        min-width: 160px;
        height: 36px;

    }
}


#main-user-avatar {
    height: calc(100% - 6px);
    aspect-ratio: 1;
    align-self: center;
}