body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 16px);
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 4px);
    max-width: 1024px;
    border: 2px solid black;
    min-height: calc(100% - 4px);
}

.page-content {
    background-color: slategray;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    border: 2px solid black;
    margin-bottom: 8px;
    padding: 10px;
    padding-bottom: 8px;
    h1 {
        margin-left: 8px;
        text-align: center;
        a {
            font-size: 20px;
            text-decoration: none;
            color: darkblue;
        }
    }
}

.sign-up-container,
.sign-in-container {
    left: 50%;
    border: 2px outset midnightblue;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 0 9px 12px 9px;
    margin: 20px auto;

    form {
        display: flex;
        flex-direction: column;
        width: 200px;

        label {
            margin-top: 8px;
        }
        input {
            margin-bottom: 8px;
        }
        button {
            margin: 8px 0;
        }
    }
}

hr {
    border-color: lightblue;
    margin: 7.7px 0px;
}

.linked {
    float: inline-start;
    padding: 4px 8px 0px 0;
    margin-top: -8px;
}

.topic-preview-box {
    background-color: lightcyan;
    width: calc(100% - 28px);
    min-height: 100px;
    max-height: 220px;
    margin: 8px;
    padding: 4px 4px;
    border: 2px solid black;

    

    .linked-preview{
        max-height: 100px;
    }
    h2 {
        font-size: 24px;
        margin: 0;
        text-overflow: ellipsis;
    }

    .topic-header {
        h3 {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
    .content-preview {
        p {
            margin: 8px 0;
        }
        text-overflow: ellipsis;
    }
}

details.options > summary {
    list-style-type: none;
}
details.options > summary::-webkit-details-marker {
    display: none;
}
details.options {
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    summary {
        aspect-ratio: 1;
        background-color: rgba(0, 0, 0, 0.125);
        text-align: center;
        border-radius: 4px;
        width: 21px;
        align-self: flex-end;
    }
}
details.options[open] {
    cursor: pointer;
    summary {
        border-radius: 4px 4px 0 0;
    }
    div {
        border-radius: 4px 0 4px 4px;
        background-color: rgba(0, 0, 0, 0.125);
        text-align: center;
        font-size: 12px;
        width: 85px;
        padding: 2px;
    }
    a {
        text-decoration: none;
        font-weight: 600;
        color: darkblue;
    }
    form {
        margin: 0;
    }
    .del {
        text-decoration: none;
        font-weight: 600;
        color: darkblue;
        font-family: inherit;
        border: 0;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        font-size: 12px;
        padding: 0;
        width: fit-content;
        height: fit-content;
    }
}

.linked {
    max-width: 200px;
}

.user-tag-box {
    background-color: lightblue;
    padding: 0px;
    height: 54px;
    aspect-ratio: 4 / 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    outline: 1px solid black;
    
    h4 {
        margin: 2px;
        width: calc(100% - 4px);
    }

    .user-avatar {
        height: calc(100% - 18px);
        border-width: 3px;
        margin: 6px;
        aspect-ratio: 1;
        align-self: center;
    }

    .topic-etoc {
        width: calc(100%);
        p {
            
            bottom: 0;
        }
    }
    
    .admin-signed-in {
        border-width: 2px;
        border-color: darkorange;
        background-color: white;
        padding: 1px;
        outline: 1px solid white;
    }
}

.profile-tag-box {
    background-color: lightblue;
    padding: 4px;
    margin: 6px;
    height: 54px;
    aspect-ratio: 4 / 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 12px);
    
    border-radius: 4px;
    outline: 1px solid rgb(82, 82, 82);
    outline: 1px solid black;

    h3 {
        margin: 4px;
        width: calc(100% - 4px);
    }

    .user-avatar {
        height: calc(100% - 10px);
        border-width: 3px;
        margin: 2px;
        aspect-ratio: 1;
        align-self: center;
    }

    .topic-etoc {
        width: calc(100%);
    }
    
}



.topic-author-heading {
    align-self: flex-end;
    display: flex;
    background-color: lightblue;
    h3 {
        margin: 0 4px;
    }
    h5 {
        margin: 2px;
        width: calc(100% - 4px);
        text-align: left;
    }
    
}

#comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 3px);
}

.topic-builder-box, .post-box {
    background-color: rgba(190, 190, 190, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 16px);
    min-height: 100px;
    margin: 8px 0;
    padding: 4px;
    border: 2px solid blue;
    outline: 3px solid rgba(190, 190, 190, 0.5);
    border-radius: 2px;

    form {
        display: flex;
        flex-direction: column;
        width: calc(100%);
        #title {
            background-color: rgba(0, 0, 0, 0.125);
        }
        #content,#commentcontent {
            min-height: 120px;
            background-color: rgba(0, 0, 0, 0.125);
        }
        #linked,#commentlinked {
            width: 75%;
            align-self: flex-start;
            background-color: rgba(0, 0, 0, 0.125);
        }
        button[type="submit"] {
            width: 20%;
            align-self: flex-end;
            transform: translate(0,-4px);
            position: absolute;
            bottom: 0;
        }
    }

}



.user-avatar {
    aspect-ratio: 1;
    border: 3px solid royalblue;
    border-radius: 50%;
    height: 24px;
    margin-left: 2px;
    background-size: contain;
    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}

.date {
    margin: 0 4px;
    font-size: 12px;
    font-weight: normal;
    color: lightslategray;
}

.comment {
    width: calc(100% - 16px);
    background-color: rgba(190, 190, 190, 0.5);
    padding: 4px;
    margin: 8px 4px;
    border: 0px solid black;
    border-radius: 4px;
    p {
        margin-top: 0;
    }
    .linked {
        margin: auto;
        padding: 0px 8px 0px 0;
        max-width: 300px;
        max-height: 300px;
        aspect-ratio: auto;
    }
}

.content {
    outline: 3px solid rgba(190, 190, 190, 0.5);
    border: 2px solid blue;
    margin: 8px 0px;
}

.topic-heading {
    background-color: rgba(190, 190, 190, 0.5);
    padding: 8px;
    width: calc(100% - 16px);
    h2 {
        margin: 0;
    }
}

.post-box {
    margin: 8px 0;
    border: 0;
    outline-width: 2px;
}

.user-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 150%;
    margin: 8px;
    p {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2px;
        span {
            font-weight: bold;
            margin: 1px;
        }
        span1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 3px 6px;
            width: 100%;
            
            span {
                font-weight: normal;
                margin: 0;
            }
        }
    }
}

block {
    width: 100%;
    .show-box {
        margin: 16px 8px;
        background-color: lightblue;
        padding: 8px;
        border: 1px solid black;
        border-radius: 4px;
    }
}