<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotalRecall Forums <%= branchName %></title>
</head>
<body>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <h1><%= branchName %> Discussion Forum</h1>
        <ul>
        </ul>
    </main>
</body>
</html>